.header h1{
    padding: 2em 0em 0em 0em; 
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.header h4{
    padding: 0em 0em 1em 0em; 
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}
h2{
    padding: 1em 0em 1em 0em; 
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}
p{
    letter-spacing:1px;
    font-weight:  300; 
    text-align: justify;
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
}
a{
    width: 50%;
    text-decoration: none;
    color: #212529

}
 p a:hover{
    text-decoration: none;
    color: rgb(240, 16, 16);
    background:#1C1340;
}
@media screen and (max-width: 380px){
    .header h4{
      
        font-size: 20px;
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

}