<div class="header">
    <h1> Impressum</h1>
    <h4>Kontakt</h4>
</div>
 
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-12 ">
     
         
<h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
<p>Paul Dieterich<br />
Schaumburger Stra&szlig;e 50<br />
28205 Bremen</p>

<h2>Kontakt</h2>
<p>Telefon: 0175 6023046<br />
E-Mail: paul.dieterich0@gmail.com</p>
    </div>
<div class="col-lg-6 col-md-12 ">
    <h2> Weitere Informationen</h2>
    <p>Wir sind nicht bereit oder verpflichtet, an Streit-
        beilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
    <p>
      Weitere Informationen finden sie unter 
      <a [routerLink]="['/impressum']" routerLinkActive="router-link-active" > Haftungsausschluss</a> 
      und 
      <a [routerLink]="['/datenschutz']" routerLinkActive="router-link-active" > Datenschutz </a> .
    </p>   
    <p>Quelle: <a href="https://www.e-recht24.de" target="_blank">eRecht24</a></p>
</div>
  </div>
    </div>
 
