.header h1{
    padding: 2em 0em 0em 0em; 
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.header h4{
    padding: 0em 0em 2em 0em; 
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}

img{
   height: 250px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
#img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}
@media screen and (max-width:1024px){
    
    #img{
        padding-right: 0em;
        padding-bottom: 10px; 
    }
}
@media screen and (max-width:670px){
    img{
        height: 200px;
    }
    #img{
        padding-right: 2em;
        padding-bottom: 10px; 
    }
   
    
}
@media screen and (max-width:575px){
    img{
        height: 250px;
    }
    #img{
        
    }
}
