<div class="header">
  <h1> Über mich</h1>
  <h4> Jung und Kreativ</h4>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-8 col-xs-12">
        <h1>
            Mein Internetauftritt ist noch in Arbeit !!
        </h1>
      <p>
          <em>"Lorem ipsum dolor amet freegan reprehenderit ea microdosing, activated charcoal cred commodo tbh. Organic vice tofu, pour-over waistcoat veniam nisi art party put a bird on it VHS shabby chic ex try-hard. Shaman banh mi tempor kombucha beard. Stumptown activated charcoal everyday carry, cold-pressed magna consequat man braid locavore. Disrupt kombucha est cillum. Lyft echo park affogato stumptown lumbersexual green juice copper mug brooklyn taxidermy shabby chic cray sriracha unicorn twee."</em>
          <span> - HIPSTER  Anfang des 21. Jahrhunderts </span>
      </p> 
      <br>
      <p> Mein Name ist Paul Dieterich, Baujahr 1997</p>
      <p> Ich habe meine Ausbildung zum  Mathematisch-technichen Assistenten im Juli 2018 erfolgreich beendet. Seitdem bringe ich mir alles bei, was ich wissen muss, um als Webentwickler zu arbeiten.</p>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-4 col-xs-12">
      <div id="img">
          <img src="../../assets/img/dieterichpaul2.jpg">
      </div>
    
      
    </div>
  </div>
</div>
<!-- 670px-->
<!-- 670px-->