.header h1{
    padding: 2em 0em 2em 0em; 
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}
h1{
    padding: 0em 0em 0.5em 0em; 
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}
h3{
    
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}
#firstH3{
    padding: 0em 0em 0em 0em; 
}
#secH3{
    padding: 0em 0em 0em 0em; 
}
p{
    letter-spacing:1px;
    font-weight: 300; 
    text-align: justify;
}
@media (min-width: 1200px){
    .col-xl-3 {
        flex: 0% !important;
        max-width: 33% !important;
    }
}
