<div class="header">
    <h1> Kompetenzen</h1>
   
</div>
  <div class="container">
    <div class="row">
      <div class=" col-xl-3  col-sx-12">
        <h1> <i class="fab fa-html5"></i></h1>
        <p>	Seit meinem zweiten Jahr in der Ausbildung, 2015 befasse ich mich mit der Auszeichnungssprache HTML, durch viele kleine Projekte während der Ausbildung und Privat habe ich viel Erfahrung sammeln können und Ich würde sagen das meine Kenntnisse in dem Bereich sehr gut sind. </p>
      </div>
      <div class=" col-xl-3 col-sx-12">
        <h1> <i class="fab fa-css3"></i></h1>
       
          <p>	Seit meinem zweiten Jahr in der Ausbildung, 2015 befasse ich mich mit CSS und habe mich während meines Selbststudiums viel mit Parallax effecten und CSS animationen beschäftigt und würde meine Fähigkeiten aus Gut bezeichnen. </p>
      </div>
      <div class=" col-xl-3 col-sx-12">
        <h1><i class="fab fa-js"></i></h1>
            <p>	Im Frontend, mit jQuery habe ich in meiner Ausbildung in Projekten ebend so in Privaten Projekten viel gearbeitet.</p>
                <p>   	Im Backand arbeite ich mit JavaScript seit 09/2018  mit Node.js.
                Mit der NoneSQL-Datenbank wie MongoDB und habe ich meine erste kleine API geschrieben und Lerne aktuell viel durch mein Selbststudium. </p>
                
    </div>
    </div>
      <div class="row">
        <div class=" col-xl-3 col-sx-12">
           
        </div> 
       <div class=" col-xl-3 col-sx-12">
          <h3>Bootstrap </h3> <h3>Semantic-UI</h3>
          <p>	Mit den Beiden wohl größten CSS Frameworks habe ich schon viel Erfahrung gesammelt und benutze sie meist abwechseltet in meinen eigenen kleinen Projekten in denen ich immer wieder viel ausprobiere.  </p>
        </div> 
        <div class=" col-xl-3 col-sx-12">
        </div>
    </div>
        
    
  </div>