<Header class="header">
    <h1> Selbststudium</h1>
</Header>

<main class="container">
    <div class="row">
      <div class="col-lg-6">
        <h5> Udemy</h5>
        <div *ngFor="let kurse of KURSE">
            <a href={{kurse.url}} target="_blank"><p> {{kurse.name}} </p></a>
            <p class=" subTitle"> von {{kurse.leitung}}</p>
            <br>
        </div>
               
        <h5> Weitere Quellen</h5>
        <p>Youtube</p>
        <a href="https://www.youtube.com/channel/UC7TizprGknbDalbHplROtag" target="_blank"> <p class=" subTitle"> Layout Land</p></a>
        <a href="https://www.youtube.com/channel/UCsBjURrPoezykLs9EqgamOA" target="_blank"> <p class=" subTitle"> Angular Firebase</p></a>
      </div>
      <div class="col-lg-6" id="themen">
        <h5>Themen</h5>
        <p>Node.js - REST</p>
        <p>AJAX</p>
        <p>jQuery</p>
        <p>ES2015 - ES2017</p> 
        <p>NoSQL Datenbanken (MongoDB)</p>
        <p>Bootstrap 4, Semantic-UI</p> 
        <p>Angular 5, React</p>
      
        </div>
    </div>
    
  </main>