
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" [routerLink]="['/home']"><p id="nav-brand"> Paul Dieterich <span>  portfolio</span></p></a>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
    <li class="nav-item">
            <a class="item " [routerLink]="['/uebermich']" routerLinkActive="router-link-active" > Über mich </a>
    </li>
    <li class="nav-item">
            <a class="item "[routerLink]="['/schule']" routerLinkActive="router-link-active" > Schule </a>
    </li>
    <li class="nav-item">
            <a class="item "[routerLink]="['/selbststudium']" routerLinkActive="router-link-active" >Selbststudium</a>
    </li>
    <li class="nav-item">
            <a class="item "[routerLink]="['/projekt']" routerLinkActive="router-link-active" > Projekte</a> 
    </li>
    <li class="nav-item">
            <li> <a class="item "[routerLink]="['/skills']" routerLinkActive="router-link-active" > Kompetenzen </a> 
    </li>
    </ul>
    <ul>
            <li> <a class="impressum" [routerLink]="['/impressum']" routerLinkActive="router-link-active" >  Haftungsausschluss</a></li>
            <li> <a class="impressum" [routerLink]="['/datenschutz']" routerLinkActive="router-link-active" >  Datenschutz</a></li>
            <li> <a class="impressum" [routerLink]="['/kontakt']" routerLinkActive="router-link-active" >  Kontakt</a></li>
        </ul>
</div>
</nav>

<div class="content" >
  <div class="row">
      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5" id="menubar">
          <div class="menu">
                        <a class="navbar-brand" [routerLink]="['/home']">
                                <h2> Paul </h2>
                                <h2 style="padding: 0px">Dieterich</h2>
                                <h5> Portfolio</h5>
                        </a>
              <br>

              <ul id="ul1">
                  <li> <a class="item " [routerLink]="['/uebermich']" routerLinkActive="router-link-active" > Über mich </a> </li>
                  <li> <a class="item "[routerLink]="['/schule']" routerLinkActive="router-link-active" > Schule </a> </li>
                  <li> <a class="item "[routerLink]="['/selbststudium']" routerLinkActive="router-link-active" >Selbststudium</a> </li>
                  <li> <a class="item "[routerLink]="['/projekt']" routerLinkActive="router-link-active" > Projekte</a> </li>
                  <li> <a class="item "[routerLink]="['/skills']" routerLinkActive="router-link-active" > Kompetenzen </a> </li>
             

              </ul>
              <ul>
                <li> <a class="impressum" [routerLink]="['/impressum']" routerLinkActive="router-link-active" >  Haftungsausschluss</a></li>
                <li> <a class="impressum" [routerLink]="['/datenschutz']" routerLinkActive="router-link-active" >  Datenschutz</a></li>
                <li> <a class="impressum" [routerLink]="['/kontakt']" routerLinkActive="router-link-active" >  Kontakt</a></li>
              </ul>
              <div class="container">
                <div class="row sozialmedia">
                        <div class="col-mid-3 ">
                                        <a href="https://www.xing.com/profile/Paul_Dieterich4/cv?sc_o=mxb_p" target="_blank"> <img src="../assets/img/xing.png"></a>
                        </div>
                        <div class="col-mid-3 ">
                                        <a href="https://bitbucket.org/PaulDieterich/" target="_blank"> <img src="../assets/img/bitbucketsvg.svg"></a>
                        </div>
                        <div class="col-mid-3">
                                <a href="https://stackoverflow.com/users/10381005/paul-dieterich?tab=profile" target="_blank"> <img src="../assets/img/stackOverflow.png"></a>
                        </div>
                        <div class="col-mid-3">
                                        <a  href="https://www.instagram.com/pjdieterich/?hl=de" target="_blank"><img src="../assets/img/instagram.png"></a>
                                </div>
                        
                        
                        
                </div>
                    
                     
                </div>
              </div>
              
          </div>
      
      <main class="col-xl-10 col-lg-9 col-md-12 " id="content">
        <router-outlet></router-outlet>           
      </main> 
</div>
</div>



