*{
    margin: 0;
    padding: 0;
    /*font-family: 'Lato', sans-serif; */
    font-weight: 300;
}

.content{
    -webkit-box-shadow: 7px 9px 13px -6px rgba(0,0,0,0.58); 
    box-shadow: 7px 9px 13px -6px rgba(0,0,0,0.58);
    width: 100%;
    height: 100%;
    background-color: white;
   
}
.menu{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    height:96.6vh;
    background-color:#1C1340; 
  
}

 h2{
    color: white;
    padding: 2em 0em 0em 0em; 
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}
h5{
    color: white;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}
ul{
    margin-top: 3em;
   list-style: none;
    text-align: center;
}
#ul1 li{
    color: white;
    margin-top: 3em;
}
.item{
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
   
  
}   
.item:hover{
    text-decoration: none;
   
}
.item:focus{
    text-decoration: none;
    color: rgb(240, 16, 16);
}
.item:hover{
    text-decoration: none;
    color: rgb(240, 16, 16);
}
.impressum{
   margin: 0;
   padding: 0;
    list-style: none;
    letter-spacing: 3px;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 10px;
    transition: color 0.5s ease-out;
}
.impressum:focus{
    text-decoration: none;
    color: rgb(240, 16, 16);
}
.impressum:hover{
    text-decoration: none;
    color: rgb(240, 16, 16);
}
nav{
    background-color: #1C1340 !important;
    display: none;
   
}
#nav-brand{
    margin: 1em 0em 1em 0;
    padding-left: 5px;
    list-style: none;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 22px;
}
#nav-brand span{
    list-style: none;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 10px;
}
button {
 margin: 5px;
}
.sozialmedia{
    padding-bottom: 11px; 
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;

}
.sozialmedia img{
    margin: 10px;
    width: 30px;

}
#content{
    width: 100%;
    height: 100%;
    background-color: white;
}
@media only screen and (max-width: 990px) {
      .menu{
        display: none;
    }
    nav{
       
        display: flex;
    }
    
}
/** IPAD PRO***/

