.header h1{
    padding: 2em 0em 0em 0em; 
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.header h4{
    padding: 0em 0em 1em 0em; 
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.header h3{
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}
p{
    text-align: justify;
    font-size: 15px;
}
@media screen and (max-width: 380px){
    .header h4{
      
        font-size: 20px;
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

}