<Header class="header">
    <h1> Schule</h1>
</Header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
        <h5> Schule</h5>
        <a href="https://www.szut.de/informatik/assistentenausbildung/mathematisch-technische-r-assistent-in-/" target="_blank"> <p>Fachhochschulreife </p></a>
      <p class=" subTitle">  </p>
      <p class=" subTitle"> an der Europaschule SII SZUTbremen</p>
      <br>
      <h5> Ausbilung</h5>
       <a href="https://www.szut.de/informatik/assistentenausbildung/mathematisch-technische-r-assistent-in-/" target="_blank"> <p>Mathematisch-technischer Assistent </p></a>
     <p class=" subTitle">Schwerpunkt Wirtschaftswissenschaft und Wirtschaftsinformatik  </p>
     <p class=" subTitle"> an der Europaschule SII SZUTbremen</p>
     <br>

      <h5> Praktika</h5>
      <a href="https://sendmeback.de/" target="_blank"> <p>Sendmeback GmbH</p> </a>
      <p class=" subTitle">Frontend Entwickler</p>
    </div>
  </div>
</div>