.header h1{
    padding: 2em 0em 0em 0em; 
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}
h5{
    font-size: 25px;
    width: 300px;
    padding-top: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 0.5px solid #49494962
}
p{
    width: 50%;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    font-size: 22px;
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
}
.subTitle{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
a{
    width: 50%;
    text-decoration: none;
    color: black;
}
a p:hover{
   
    color: rgb(240, 16, 16);
    background-color:#1C1340;
}
img[src="../../assets/img/bit-bucket-logo.svg"]{
    
    height: 50px;
}