
.header h1{
    padding: 2em 0em 0em 0em; 
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.header h3{
    padding: 0em 0em 0.5em 0em; 
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.header p {
    padding: 0em 0em 0.0em 0em; 
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.projekte{
    margin: 0.5em 0 ;
    width: 100%;
    height: 15em;
    background-color: #ff0f;
}

 a {
   
    
    color: white !important;
    background-color: #1C1340;
    transition: all .5s ease-in-out;
}
a:hover{
    color: rgb(240, 16, 16) !important;
}