<div class="header">
    <h1> Projekte</h1>
</div>
<div class="container">
  <div class="row" >
      <div class="col-lg-6 col-md-12" *ngFor="let projekt of PROJEKTE"> 
        <div class="header">
            <h1>
                {{projekt.name}} 
            </h1>
            <h3>
                {{projekt.subName}} 
            </h3>
            <p > 
                {{projekt.tags}} 
            </p>
        </div>
        
        
        <p> {{projekt.text}}</p>
            <a type="button" class="btn" target="_blank" href={{projekt.git}}>mehr erfahren </a>
   
        
      </div>
        
     
    </div>
    

</div>