/* You can add global styles to this file, and also import other style files */


html, body{
    font-family: 'Roboto', sans-serif;
    overflow:hidden;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9f398e+1,950101+100 */
    background: #9f398e; /* Old browsers */
    background: -moz-linear-gradient(left, #9f398e 1%, #950101 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #9f398e 1%,#950101 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #9f398e 1%,#950101 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f398e', endColorstr='#950101',GradientType=1 ); /* IE6-9 */
    margin: 0 ;
    padding: 0.5em;
    height: 100%;
        
}
@media only screen and (max-width: 988px) {
    html, body{
        overflow-y: scroll;
        
        -webkit-overflow-scrolling: touch;
      
        }   
    }


   /* width */
::-webkit-scrollbar {
    width: 8px;
   
}

/* Track */
::-webkit-scrollbar-track {
    margin:0.5em;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
   background: #1C1340;
   border-radius: 50px;
   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
   -ms-border-radius: 50px;
   -o-border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9f398e; 
}