
<div class="header">
       
    <h1> MOIN MOIN!</h1>
    <h2> vom </h2>
    <h4> Web entwickler aus Bremen</h4> 

</div>
<div id="button">
    <button type="button" id="ownbutton" class="btn btn-xl btn-outline-secondary"><a [routerLink]="['/uebermich']" routerLinkActive="router-link-active" >interesse geweckt ?</a></button>
</div>

<div class="header">
    <h4>Bestimmt nicht, schau dich trotzdem mal um!</h4>
</div>