.header h1{
    padding: 5em 0em 0em 0em; 
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.header h2{
    text-align: center;
    letter-spacing: 3px;
}
.header h4{
    padding: 0em 0em 2em 0em; 
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#button{
    text-align: center;
    padding: 5em 0em 5em 0em; 
}
a{
    text-decoration: none;
    color: gray;
}
span{
    text-transform: lowercase;
}
#ownbutton{
  
    cursor: pointer;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 25px;
    font-size: 28px;
    border: 1px solid #1C1340;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
#ownbutton:hover{
    outline: none;
    text-transform: uppercase;
    background-color: #1C1340;
    color: rgb(240, 16, 16);
}
#ownbutton:hover a{
    color: rgb(240, 16, 16);
}


@media screen and (max-width: 745px){
    .header h1{
        padding: 5em 0em 0em 0em; 
       
    }
}
@media screen and (max-width: 500px){
    .header h1{
        padding: 5em 0em 0em 0em; 
       
    }

   #ownbutton{
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 10px;
        font-size: 28px;
    }
    #ownbutton:hover{
        letter-spacing: 1px;
        text-transform: uppercase;
        color: rgb(240, 16, 16);
       
    }
    #ownbutton:focus{
        letter-spacing: 1px;
        text-transform: uppercase;
        color: rgb(240, 16, 16);
        
    }
}
/*IPHONE */
@media screen and (max-width: 410px){
    .header h1{
        padding: 2em 0em 0em 0em; 
    }
    #button{
        padding:1em 0em 3em 0em; 
    }
    #ownbutton{
      font-size: 18px;
    }
}